 .redbox
 {
    background-color: red;
    width: 100%;

 }

/* ---------------------------------------- */
 /* ==              end of font            */
 /*---------------------------------------- */


body
{
	font-family: 'roboto';
	width: 100%;
    margin: 0px;
}
  
.bloc_page
  {
   margin: auto;
   width: 95%;
  }


 /* ---------------------------------------- */
 /* ==              HEADER               */
 /*---------------------------------------- */

header
{
	background-color:#ffffff;
	position: fixed;
	padding-top: 15px;
 	/*opacity: 0.9;*/
    z-index: 20;/*recheck and correct, 2 isnt enough */
    top: 0;
    width: 95%;
    border-bottom: 1px solid #e5e5e5;
    

    /*	justify-content: space-between;
    align-items: center;
    position: fixed;
   	width: 100%;
    height: 80px;
    /*background-color: white;*/
    
}
 #logohead
{
    display: flex;  
    /*flex-direction: column-reverse;
    justify-content: center;
    align-items: center;*/
}

h1 span 
{
    color:#5cadd3;
}

 #gallery img {
	 
    width: 100%;
	height: auto;
    margin-top: 5px;
}
.nav_list
 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}
 
header nav ul
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
 }

header a 
{
 text-decoration:none;
 color: black;
} 

#slogan
{
	text-align: center;
    margin-bottom: 30px;
    margin-top:142px;
     
}




/*.nav_menu
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}
*/


#slogan a {
    padding: 8px 10px 8px 10px;
    background-color: #5cadd3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    border-bottom: #468cad 3px solid;
    text-align: center;
    margin-bottom: 30px;
}

.caption_slide
{

}
 
.slider 
{
    width: 100%;
    position: relative;
    overflow: hidden;
}
/*.slider_controller 
{
    display: none;
}*/
.navigationslide
 {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60px
}


.sliderimages
{
 width: 100%;
 height:auto;
}
.first_slider
{

    display: flex;
    position: relative;
    overflow: hidden;
}
 
#gallery figure 
{
    display: flex;
    flex-flow: column;
}

 
/*.slide_list
{

    width: 100%;
    position: relative;
    overflow: hidden;
}
  
.slide {
  
    position: relative;
    width: 50%;
    margin: 0;
}
.one_slider {
    display: flex;
    width: 200%;
    transition: transform 1s;
}
*/
 .navigationslide{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60px;
 
    
}

  img  
{
 width: 100%;
 height: auto;
}
#logohead img 
{
width:100%;
height:auto;
}

.gallery_caption
{
    background-color: yellow;
    position: relative;
}

.chevrons 
{
    position: absolute;
    top: 42%;
    color: white;
    width: 100%;
    height: 19px;
    opacity: 2;
 }
.chevron_left
{
float: left;
background-color:black;
border-top-right-radius:60px;
border-bottom-right-radius:60px;



}
.chevron_right
{
float: right;
background-color:black;
border-top-left-radius:60px;
border-bottom-left-radius:60px;

}
 
/* ---------------------------------------- */
 /* ==              BODY               */
 /*---------------------------------------- */
  
.p_titles 
{
	list-style-type:none;
}

.texteBleu {
    color: #5CABD1;
}

.texte40 {
    font-size: 4rem;
}


 .lines
  {

   text-align: center;
    margin-top: -33px;
    }

 hr
{
    position: relative;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 0;
    margin: 5px;
    color: #FBFBFB;
    opacity: 0.3;
}
/* section one*/

  #services h2 
  {
  	text-align:center;
   
  }
  #services p
  {
    text-align: center;
    margin: auto;
  }

 #services ul 
 {
 	
 }

/*end */
#list
 {
    flex: 1;
    margin-top: 40px;
}

/*#ux, #ui, #seo {
  margin-left: -55px;
}
*/

 

/* ---------------------------------------- */
 /* ==         SECOND PROJECT /BODY               */
 /*---------------------------------------- */

#secondprojects_list ul li a:hover {
    position: relative;
    background: #0088b5;
    padding-bottom: 7px;
    border-bottom: 3px solid #01627f;
    color: #fff;
}

#secondprojects
{
    text-align: center;
    padding-top: 5px;
    background-color:#f3f3f3de
}
#secondprojects p
{
    margin-top: -1em;
}
 #secondprojects_list ul li a {
    padding: 10px 30px;
    /*background: #e5e5e5;*/
}

.nav_menu 
{
    
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}

.nav_menu li a
{
    border-bottom: #468cad 3px solid;
    padding: 4px 2px 4px 2px;
    border-radius: 7px;
    text-decoration: none;
    background-color: #5cadd3;
    color:black;
     
}
.nav_menu a hover:
{
    background-color: yellow;
}


/* ---------------------------------------- */
 /* ==  SECOND PROJECT /BODY               */
 /*---------------------------------------- */


.block-trait {
    display: flex;
    justify-content: center;
}
.trait 
{
    width: 150px;
    height: 1px;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
}
 .block-trait 
 {
    display: flex;
    justify-content: center;
}


  

#gallery
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

#gallery caption 


{

}




/*ICONS 

.icons i

{


}
*/


/*#menu_projects li  
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
 }
 */
 
/* ---------------------------------------- */
 /* ==     END SECOND PROJECT BODY               */
 /*---------------------------------------- */

iframe
{
	border: 0;
    width: 100%;
    height: auto;
}

#nous-contacter 
{
    text-align:center;
 }

#formulaire
{
    background-color: whitesmoke;

}
/* #formulaire h3 
{
    margin-block-start: -2px;
}    
*/


/* ---------------------------------------- */
 /* ==          END    BODY               */
 /*---------------------------------------- */

.icons  /*remove one padding ; recheck*/
{
    color: #5CABD1;
    padding: 20px 17px;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
  width: 60px;
  height: 48px;
  padding: 30px;  
}
.bluedot {
    position: relative;
    left: -10px; /*recheck th enegative number */
    margin-right: 10px;
    font-size: 3rem;
    color: #5CABD1;
}
.icons .bluedot 
{
    display: flex;
    float: left;
}
/*
.icons i
{

}
*/
.message_button input 
{ 
    padding: 5px;
    color: white;
    background-color: #5badd3;
}

/* ---------------------------------------- */
 /* ==     MEDIA Q's                       */
 /*---------------------------------------- */

 /* tablet (portrait and landscape) ----------- */
  /* media queries for screens with a width greater then 768 pixels (tablet) */
  /* min-width:768 => iPad, max-width:1024=>iPad Pro */

 
 
@media only screen and (min-width:1024px;)

{

    header
    {
        display: inline-flex;
    }
    #logohead
    {
        width: 100px;
        display: flex;

    }
}



/*@media only screen and(min-width:768px)
{

    #ourservices
    {
        flex-direction: column;

    }
   
    #ourservices p
    {
        width: 50%;
    }
} */



    