/*---------------------------------------- */
/* ==              FONTS          */
/*---------------------------------------- */
 body
{
    font-family: 'Roboto',condensed;
    width: 100%;
    margin: 0px;
    line-height: 23px;
}
 
.bloc_page
{
 margin: auto;
 width: 100%;
}
.blue-text{
    color: #4990b0;
}
.grey-text{
    color: #575757;
}



/*
.text-center{
    display: block;
    text-align: center;
}*/



/*
em
{
    font-weight: 700;
    font-style: normal;
}*/

/* ---------------------------------------- */
/*  CSS ENSEMBLES 
/*---------------------------------------- */
 
h1{
    font-size: 25pt;
    line-height: 40px;
}
h2{
    font-size: 16pt;
    margin-bottom: 5px;
}
p{
    font-size: 11pt;
     
}
ul 
{
    list-style: none;  

}
.introduction p, .texts p, .titre p,.nav_menu p,form p
{
    color: grey;
}



/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */


            /*     LOGO     */

header
{
background-color:#ffffff;
position: fixed;
z-index: 20; 
top: 0;
width: 100%;
height:auto;
border-bottom: 1px solid #e5e5e5;
    
}

 
#logohead img 
{
    width: auto;
    margin-top: 5px;
    margin-bottom: 8px;

}
#logohead{
    text-align: center;
}
/*
header a:hover
{
    padding: 20px 10px;
    border-top: 3px solid; color:#5cadd3;
}
*/

header nav ul
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}

header a 
{
   text-decoration:none;
   color: #5f5b5b;
}  


h1 span 
{
    color:#5cadd3;
}


  img
{
    width: 100%;
    height:auto;
}

#slogan img 
{
    display:none;
}
.nav_list
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}

/*     slogan      */

 #slogan 
{
    text-align: center;
    padding-top: 34%;
    padding-bottom: 20px;  
}
#slogan figure
{
    margin:0px;   
}
 
button {
    background-color: rgb(92,173,211);
    color:white;
    padding: 7px;
    border-color:rgb(92,173,211);
    font-size: 14px;
    border-radius: 3px;
}


.previous, .next 
{
    display: none;
}
 


.gallery_caption
{
    background-color: #0000005e;
    position: relative;
    margin-top: -2%; 
    color: white;
    line-height: 2px;
    padding-top: 1px;
    padding-bottom: 6px;

 }
 .gallery_caption i {
    background-color: #0e98d6;
    border: 2px solid white;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 0px;
    right: 4px;
    bottom: auto;
    margin-top: -23px;
    float: right;
}

/* ---------------------------------------- */
/* ==     SECTION 1 NOS SERVICES           */
/*---------------------------------------- */
/*    Title and paragraph      */

.introduction h1, .introduction p,.titre h1, .titre p

{
 text-align: center;

}

 .lines
{
    height: 1px;
    border: 0;
    background-color: #d9d9d9;
    border-style: none;
    width: 154px;
    margin-left: auto;
    margin-right: auto;
}

#services span , .titre span
{
position: relative;
    top: -11px;
    background-color: #f7f7f7;
    width: 17px;
    height: 17px;
    color: #5cadd3;
    padding: 2px 1px 1px 4px;
    border-radius: 100%;
    margin-left: 67px;
    margin-right: 67px; 
}

/*    Description      */


.icones {
    color: #5cadd3;
    height: 62px;
     min-width: 66px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0px;
}

.icones .fa-circle {
    padding-top: 4px;
    position: absolute;
    right: -16px;
    top: 22px;
    background-color: white;
    width: 25px;
    height: 20px;
}

 #description ul 
{
padding-left: 0px;
list-style: none;
flex-wrap: wrap;
}

#description li 
{
    display: flex;
    padding: 8px;

}
.icones .fa-line-chart, .icones .fa-cubes, .icones .fa-pie-chart{
    transform: scale(1.4);
}

#list{
    flex: 1;
    margin-top: 40px;
}
 
.texts{
        padding-left: 30px;
}
.texts p
{
    color: grey;
    margin-top: 6px;
}
.texts h3{
    margin: 0;
}

/* ---------------------------------------- */
/* ==     SECTION 2 NOS PROJECTS          */
/*---------------------------------------- */
 #secondprojects
{
    padding-top: 5px;
    background-color:#f3f3f3de;
    padding-bottom: 30px;
}

/*
#secondprojects_list ul li a 
{
    padding: 10px 30px;

}*/


/* Nav  Menu 2 */


.nav_menu
{
    background-color: #d2d2d2cf;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
}

.nav_menu li a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
    
}
.nav_menu li {
    padding: 10px;
}

.nav_menu i
{
    display: none;
}

.nav_menu li:hover
{
    background-color: #5cacd3;
    font-weight: bold;
}
.nav_menu li:hover a
{
    color: white;
}
/*
 .fa fa-caret-down
 {
     display: flex;
    position: absolute;
    margin-top: 3px;
    margin-left: 22px;
    font-size: 2rem;
    color: #468cad;
    opacity: 1;
}*/
 
/* ---------------------------------------- */
/* ==  SECTION2; NOS PROJECTS IMAGES        */
/*---------------------------------------- */

.gallery_row
{
    padding:0px;
}
 /* ---------------------------------------- */
 /* ==             FOOTER                    */
 /*---------------------------------------- */
#formulaire
{
    background-color: whitesmoke;

}
.message_button input 
{ 
    padding: 5px;
    color: white;
    background-color: yellow;
}
input 
{
    width: 95%;
    height: 22px;
    border-radius: 3px;
    margin-bottom: 13px;
    /* padding-left: 0px;*/
}
 
#maps
{
 display:none;
} 

form 
{
padding: 20px;  
border-radius: 3px;
}

#nous-contacter {
background-color: #6eb5d838;
}

 textarea
{
    width: 95%;
    height: 91px;
}

footer 
{
    text-align: center;
    background-color: #afadad2b;
}

/* ---------------------------------------- */
/* ==     MEDIA Q's                       */
/*---------------------------------------- */
/* tablet (portrait and landscape) ----------- */
/* media queries for screens with a width greater then 768 pixels (tablet) */
/* min-width:768 => iPad, max-width:1024=>iPad Pro */

/*IPAD */

@media screen and (min-width:768px)
{


    .gallery_row
    {
    padding: 19px;
    column-count: 2;
    margin: 0;

    }
    
    .gallery_caption {
    
    margin-top: -25%;
    }
    #slogan
    {
     
    padding-top: 27%;
     
    }
    .top
    {
        margin-top: 0;
    }
}
  

@media screen and (min-width:1200px)

{

    header
    {
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;

    } 
    #logohead
    {

        display: flex ;
        margin-left: 100px ;
    }
    header nav  
    {
        margin-right: 100px ;
    }   
    nav li, .nav_menu li /* to have space around each list item */
    {
        padding: 10px; 
    }
    nav a:hover { 
        border-top: 3px solid #5CADD3 ;
        padding-top: 38px ;
        color: black ;
    }
    .nav_menu li a 
    {
    text-decoration: none ;
    color: black ;
    text-decoration: none ;
    text-align: center;
    margin-bottom: 30px;
    }  

     /*IMAGE SLIDER SLOGAN*/

    #slogan img 
    {
    display: block;
    }

    #slogan
    {
        margin-top: 103px;
        width: 100%;
        color:white;
        text-align: left;
        padding-top: 0px;

    }
    #slogan a 

    {
    z-index: 2;
    background: rgba(0,0,0,.4);
    color: rgb(255,255,255);
    text-decoration: none;
    position: absolute;
    display: flex;
    align-items: center;
    }

    #slogan p, a 
    {
        line-height: 30px;

    }
    .slogan_caption
    {
        position: absolute;
        display: flex;
        width: 95%;
        /*top: 54%;
        margin-left: 105px;*/
     }

     .caption 
     {
        padding-left: 11%;
        top:40%;
     }
     .caption h1
     {
         margin-bottom: 0;
     }
    #slogan figure
    {
        display: flex;
        align-items: center;
    }
    #slogan .next
    {
    height: 84px;
    width: 40px;
    border-radius: 90px 0 0 90px; 
    position: absolute;
    top: 26%;    
    }

    #slogan .previous 
    {
    height: 84px;
    width: 40px;
    border-radius: 0 90px 90px 0
    }

     .slider_figure
    {
        margin :0px;
    }
     .next
    {
        right: -65px;
    }
    .next i
    {
     padding-left: 20px;
    }
    #slogan .previous 
    {
    position: absolute;
    height: 84px;
    width: 40px;
    border-radius: 0 90px 90px 0;
    top: 26%  ;
    }
        /*SLIDE BAR*/
    #barline
    {
    display: flex;
    justify-content: flex-start;
    }

    #ligne_claire
    {
    background: rgba(000,000,000,0.1);
    width: 85%;
    height: 5px;
    }
    
    #ligne_bleu 
    {
    background: rgb(092,173,211);
    width: 15%;
    height: 5px;
    }
    .introduction p, .titre p
    {
        width: 50%;
        margin: auto;
        padding-top: 13px;

    }

    
    .ourservices figure 
    {
    width: 100%;
    height:auto;
    }
    

    .ourservices
    {
        display: flex;
         margin: 0px;
        padding: 5%;
    }
    .icones h2 p
    {
        text-align: left;
    }

    /* second project*/
    .nav_menu 
    {
    margin-top: 18px;
    background-color: #d2d2d2cf;
    display: flex;
    list-style-type: none;
    margin: auto;
    width: 30%;
    padding: 1px;
    margin-top: 49px;
    border-radius: 7px;

    }
    .nav_menu li 
    {
        position: relative;
    }
    .nav_menu li:hover .arrow-bottom 
    {
        opacity: 1;
    }
    .arrow-bottom 
    {
        position: absolute;
        right: 39px;
        bottom: -9px;
        border-top: 9px solid #5cacd3;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        opacity: 0;
    }

    
    #gallery
    {
        margin-right: 5%;
        padding-left: 18px;
    }

  .gallery_row  
    { 
      
        flex-wrap: wrap;
        margin: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


     #gallery figure 
    {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 12px;
    }
    .gallery_caption {
    opacity: 0;
    background-color: #0000005e;
    position: relative;
    margin-top: -56%;
    color: white;
    line-height: 2px;
    padding-top: 1px;
    padding-left: 10px;
    bottom: -75px
}

.gallery_row img:hover + figcaption, .gallery_caption:hover 
    {
        opacity: 100%;
    }


    #conteneur_contact 
    {
    background-color: rgba(92,173,211, .4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }

    #nous-contacter 
    {
    background-color:white;
    }
    #nous-contacter
    {
        position: relative;
    }
    #maps
    {
     display:block;
    } 
    iframe, #conteneur_contact 
    {

    width: 100%;
    position: absolute;
    height: 600px;
    border: 0;
    }
    form
    {
    background-color: rgba(255,255,255, .8);
    width: 300px;
    height: 70%;
    margin: 40px 150px;
    padding: 20px;
    padding-right: 30px;
    border-radius: 3px;
    }

     .main-footer
    {
        padding-top:600px;
    }
}



    