* ---------------------------------------- */
/* ==              FONTS          */
/*---------------------------------------- */
@font-face 
{
    font-family: 'Roboto-Regular';
    src:  url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */

body
{
    font-family: 'Roboto-Regular'
    width: 100%;
    margin: 0px;
}
 
.bloc_page
{
 margin: auto;
 width: 95%;
}


/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */


            /*     LOGO     */

header
{
background-color:#ffffff;
position: fixed;
z-index: 20; 
top: 0;
width: 95%;
height:auto;
border-bottom: 1px solid #e5e5e5;
    
}

#logohead
{
    /*display: flex;*/  
    /*flex-direction: column-reverse;
    justify-content: center;
    align-items: center;*/
}
#logohead img 
{
    width:100%;
    height:auto;
    margin-top: 5px;
    margin-bottom: 8px;

}

header li:hover;
{
    padding: 20px 10px;
    border-top: 3px solid rgb(92,173,211);
}


header nav ul
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}

header a 
{
   text-decoration:none;
   color: black;
}  



h1 span 
{
    color:#5cadd3;
}

 

  img
{
    width: 100%;
    height:auto;

/*     Navigation      */

}
.nav_list
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
}

/*     slogan      */

 #slogan 
{
    text-align: center;
    padding-top: 127px;
}
#slogan figure
{
    margin:0px;
    padding-bottom: 20px;     
}

.slogan_caption
{

}
    
/*.slogan_caption a , #conteneur_contact a
{

    color: white;
    background-color: rgb(92,173,211);
    padding:8px;
    border-radius: 3px;
    /* border-bottom: 3px solid rgb(68,148,187); 
    text-decoration: none;
} */
button {
    background-color: rgb(92,173,211);
    color:white;
    padding: 7px;
    border-color:rgb(92,173,211);
    font-size: 14px;
    border-radius: 3px;


}


.previous, .next 
{
    display: none;
}
/*
#slogan a 
{
    padding: 8px 10px 8px 10px;
    background-color: #5cadd3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    border-bottom: #468cad 3px solid;
    text-align: center;
    margin-bottom: 30px;
}*/
 


.gallery_caption
{
    background-color: #0000005e;
    position: relative;
    margin-top: -82px; 
    color: white;
 }
.gallery_caption i
{
    bottom: 72px;
    background: #03A9F4;
    border: 2px solid white;
    position: relative;
    float: right;
    right: 20px;
    border-radius: 20px;
    padding: 10px;
}
 
/* ---------------------------------------- */
/* ==     SECTION 1 NOS SERVICES           */
/*---------------------------------------- */
/*    Title and paragraph      */

.introduction h1, .introduction p

{
 text-align: center;

}

.lines
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 40%;
    margin: auto;
}
hr
{
    position: relative; 
   /* top: -15px;
    display: inline-block*/
    width: 60px;
    height: 0;
    margin: 5px;
    color: #FBFBFB;
    opacity: 0.3;
}

/*     nos services icons and H3     */

.p_titles 
{
    list-style-type:none;
    padding-left: 0px; /*pour elever le padding de defaut*/
}

.texteBleu {
    color: #5CABD1;
}

.texte40 {
    font-size: 3rem;
}
 
.ourservices h2, .ourservices p
{
 text-align:initial;
 display: flex;

}
#description ul 
{
padding-left: 0px;
list-style: none;
flex-wrap: wrap;
}
/*
#description li 
{
    display: flex;
    flex-wrap: wrap;
}*/

 #list
{
    flex: 1;
    margin-top: 40px;
}

.icones h1 p
{
    text-align: left;
}

.icones
{
    color: #5CABD1;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
    margin-right:40px; 
} 

.icones-circle
{
    position: absolute;
    padding-top: 15px;
    margin-left: -7px;
}

.icones-graph
{
    padding: 13px;
}


 


/* ---------------------------------------- */
/* ==  SECTION 2; NOS PROJECTS+ NAV        */
/*---------------------------------------- */

#secondprojects
{
    text-align: center;
    padding-top: 5px;
    background-color:#f3f3f3de
}
/*
#secondprojects p
{
    margin-top: -1em;
}*/
#secondprojects_list ul li a {
    padding: 10px 30px;
    /*background: #e5e5e5;*/
}

.nav_menu
{
    background-color: #d2d2d2cf;
    /*display: flex;*/
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    /* width: 41%; */
    padding: 0;
}



.nav_menu li
{
 padding: 10px;

}
.nav_menu li a {
    text-decoration: none;
    color: black;
    text-decoration: none;
     
    text-align: center;
    margin-bottom: 30px;
    
}
     
.nav_menu li:hover
{
    background-color: #3BAED7;
    color: white;
    font-weight: bold;
}

/* ---------------------------------------- */
/* ==  SECTION2; NOS PROJECTS IMAGES        */
/*---------------------------------------- */

.icons  /*remove one padding ; recheck*/
{
    color: #5CABD1;
    padding: 20px 17px;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    width: 60px;
    height: 48px;
    padding: 30px;
    float: left;
    margin-right: 20px;
}
.bluedot {
    position: relative;
    left: -10px; /*recheck th enegative number */
    margin-right: 10px;
    font-size: 3rem;
    color: #5CABD1;
}
.icons .bluedot 
{
    display: flex;
    float: left;
} 

.block-trait
{
    display: flex;
    justify-content: center;
}
.trait 
{
    width: 150px;
    height: 1px;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
}
.block-trait 
{
    display: flex;
    justify-content: center;
}


#conteneur-fleche {
    visibility: hidden;
}

/*     NOS PROJETS NAV    */
 
 
 
 /* ---------------------------------------- */
 /* ==             FOOTER                    */
 /*---------------------------------------- */

#formulaire
{
    background-color: whitesmoke;

}
  
.message_button input 
{ 
    padding: 5px;
    color: white;
    background-color: #5badd3;
}
 input 
{
width: 100%;
height: 25px;
border-radius: 3px;
margin-bottom: 15px;
padding-left: 10px;
}

 iframe
{
    width: 100%;
    border-width: 0px;

} 

form 
{
padding: 20px;  
border-radius: 3px;
}
/*
#nous-contacter 
{
width: 100%;

}*/



#conteneur_contact #google_map
{

display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
 }

input
{
     /* width: 100%; */
    /* height: auto; */
    border-radius: 3px;
    margin-bottom: 15px;
    padding-left: 2px;
}

textarea
{
    width: 100%;
    height: 89px;
}
 
footer 
{
    text-align: center;
}


/* ---------------------------------------- */
/* ==     MEDIA Q's                       */
/*---------------------------------------- */

/* tablet (portrait and landscape) ----------- */
/* media queries for screens with a width greater then 768 pixels (tablet) */
/* min-width:768 => iPad, max-width:1024=>iPad Pro */



@media screen and (min-width:1024px)

{

    header
    {
       display: flex;
        justify-content: space-between;
    }    

    #logohead
    {

        display: flex;
        margin-left: 100px;
    }
    header nav  
    {
        margin-right: 100px;
    }  
    nav li, .nav_menu li /* to have space around each list item */
    {
        padding: 10px; 
    }
    nav a:hover { 
        border-top: 3px solid #5CADD3;
        padding:20px;
        color:#5CABD1;
    }




    .nav_menu li a 
    {
    text-decoration: none;
    color: black;
     /* background-color: #5cadd3; */
    /* color: #ffffff; */
    text-decoration: none;
    /* border-radius: 0px; */
    /* border-bottom: #468cad 3px solid; */
    text-align: center;
    margin-bottom: 30px;
    }



    /*IMAGE SLIDER SLOGAN*/
    #slogan
    {
        margin-top: 75px;
        width: 100%;
        color:white;
        text-align: left;
        padding-top: 0px

    }
    #slogan a 

    {

    z-index: 2;
    background: rgba(0,0,0,.4);
    color: rgb(255,255,255);
    text-decoration: none;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    position: absolute;
    
    display: flex;
    align-items: center;
     
    }
    #slogan p, a 
    {
        line-height: 30px;

    }
    .slogan_caption
    {
        position: absolute;
        display: flex;
        width: 95%;
        /*top: 54%;
        margin-left: 105px;*/
     }
     #slogan div 
     {
        padding-left: 11%;
        top:40%;
     }
    #slogan figure
    {
        display: flex;
        align-items: center;
    }
    
    .next
    {
        right: 0px
    }

    .slider_figure
    {
        margin :0px;
    }
    /*
    .previous
    {
    position: absolute;
    /*top: 60%;
    color: white;
    right: 30px
    }

    .next
    {
    position: absolute;
    /*top: 60%;
    color: white;
    left: 96.5%;
    }*/   
      .previous, .next 
    {
        display: flex;
    }

    /* ----------------------------*/
    /* ==    SECT SERVICES         */
    /*-----------------------------*/
    .introduction h2, .introduction p
    {
        text-align: center;

    }



    .introduction h2 
    {
        font-size: 38px;
    }
    .introduction p 
    {
        width: 50%;
        margin: auto;

    }

    .ourservices h2, .ourservices p 
    {
        text-align: left;
    }
    .ourservices figure 
{
    width: 100%;
    height:auto;
}

     
    .ourservices
    {
        display: flex;
        flex-direction: row;
        /*justify-content: space-around;*/
        margin: 40px auto;
        /*width: 85%;*/
    }

    .icones h2 p
    {
        text-align: left;
    }
  
    .icones
    {

        color: #5CABD1;
        border: 1px solid #ccc;
        border-radius: 50%;
        box-sizing: border-box;
        float: left;
        margin-right:60px; 
    } 
    .lines 
    {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 12%;
    margin: auto;
    }

    /* second project*/
    

    #secondprojects p 
    {

        width: 50%;
        margin: auto;
        margin-bottom:10px;
    }

    .nav_menu 
    {
    margin-top: 18px;
    background-color: #d2d2d2cf;
    display: flex;
   /* justify-content: center;*/
    list-style-type: none;
    margin: 40px auto;
    width: auto;
    padding: 1px;
    margin-right: 35%;
    margin-left: 36%;

    }

    /*#gallery figure
    {
    width: 100%;
    height: auto;
    margin-top: 0;
    }*/ 

    /*#gallery figure 
    { 
    flex-flow: column;
    }*/
    .gallery_row
    { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    #gallery figure 
    {
         display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
     
    .gallery_caption 
    {
        color: white;
          /* stick to bottom of img */
       opacity: 0%;
        position: relative;
        margin-top: -105px;
    }

    .gallery_row img:hover + figcaption, .gallery_caption:hover {
        opacity: 100%;
    }


    .gallery_caption i
    {
        background: #03A9F4;
        border: 2px solid white;
        position: absolute;
        border-radius: 20px;
        padding: 10px;
        top: -20px;
        right: 4px;
        bottom: auto;
    }


    #conteneur_contact 
    {
    background-color: rgba(92,173,211, .4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
    
    

    #nous-contacter
    {
        position: relative;
    }

    iframe, #conteneur_contact 
    {

    width: 100%;
    position: absolute;
    height: 600px;
    border: 0;
    }
     /*
    #google-map, #conteneur_contact{
    width: 100%;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    }*/
    
     
 
    form
    {
    background-color: rgba(255,255,255, .8);
    width: 300px;
    height: 70%;
    margin: 40px 150px;
    padding: 20px;
    padding-right: 30px;
    border-radius: 3px;
    }
  
}

/*  #gallery figcaption 
    {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 4px;
    visibility: hidden;
    }
      visibility: hidden;
}       /*background-color: #E5E5E5;
    padding: 10px;
    margin-left: 0;





    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
    padding: 0;
    width: auto;*/



/*@media only screen and(min-width:768px)
{

    #ourservices
    {
        flex-direction: column;

    }
   
    #ourservices p
    {
        width: 50%;
    }
    } */



    